.skranji-regular {
    font-family: "Skranji", serif;
    font-weight: 400;
    font-style: normal;
}

.skranji-bold {
    font-family: "Skranji", serif;
    font-weight: 700;
    font-style: normal;
}